// padding
.p-05 {
  padding: 0.5em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4em;
}

.p-5 {
  padding: 5em;
}

.p-xl {
  padding: 9em;
}

// vertical padding
.vp-05 {
  padding-block: 0.5em;
}

.vp-1 {
  padding-block: 1em;
}

.vp-2 {
  padding-block: 2em;
}

.vp-3 {
  padding-block: 3em;
}

.vp-4 {
  padding-block: 4em;
}

.vp-5 {
  padding-block: 5em;
}

.vp-xl {
  padding-block: 9em;
}

// horizontal padding
.hp-05 {
  padding-inline: 0.5em;
}

.hp-1 {
  padding-inline: 1em;
}

.hp-2 {
  padding-inline: 2em;
}

.hp-3 {
  padding-inline: 3em;
}

.hp-4 {
  padding-inline: 4em;
}

.hp-5 {
  padding-inline: 5em;
}

.hp-xl {
  padding-inline: 8em;
}
