@use 'variables';
@use 'base';

// Utilities
.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: variables.$button-color;
  color: variables.$primary-color;
  font-weight: 500;
}

.btn.btn-outline {
  background: transparent;
  border: 2px solid #000;
  color: #000;
}

.container {
  width: 92%;
  max-width: variables.$container-width;
  margin-inline: auto;
  padding: 1em;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrollable {
  overflow-x: scroll;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.basis-500 {
  flex: 1 300px;
}

.gap-2 {
  gap: 2em;
}

.gap-4 {
  gap: 4em;
}

.text-center {
  text-align: center;
}

// padding
.p-05 {
  padding: 0.5em;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4em;
}

.p-5 {
  padding: 5em;
}

.p-xl {
  padding: 9em;
}

// vertical padding
.vp-05 {
  padding-block: 0.5em;
}

.vp-1 {
  padding-block: 1em;
}

.vp-2 {
  padding-block: 2em;
}

.vp-3 {
  padding-block: 3em;
}

.vp-4 {
  padding-block: 4em;
}

.vp-5 {
  padding-block: 5em;
}

.vp-xl {
  padding-block: 9em;
}

// horizontal padding
.hp-05 {
  padding-inline: 0.5em;
}

.hp-1 {
  padding-inline: 1em;
}

.hp-2 {
  padding-inline: 2em;
}

.hp-3 {
  padding-inline: 3em;
}

.hp-4 {
  padding-inline: 4em;
}

.hp-5 {
  padding-inline: 5em;
}

.hp-xl {
  padding-inline: 8em;
}

// margin top
.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mt-5 {
  margin-top: 5em;
}

.mt-xl {
  margin-top: 9em;
}

// margin left
.ml-05 {
  margin-left: 0.5em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.ml-4 {
  margin-left: 4em;
}

.ml-5 {
  margin-left: 5em;
}

.ml-xl {
  margin-left: 9em;
}

// margin bottom
.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.mb-xl {
  margin-bottom: 9em;
}

// vertical margin
.vm-05 {
  margin-block: 0.5em;
}

.vm-1 {
  margin-block: 1em;
}

.vm-2 {
  margin-block: 2em;
}

.vm-3 {
  margin-block: 3em;
}

.vm-4 {
  margin-block: 4em;
}

.vm-5 {
  margin-block: 5em;
}

.vm-xl {
  margin-block: 9em;
}

.section-padding {
  padding-block: 3em;
}

.section-heading {
  padding-block: 2em;
  font-size: variables.$font-sh;
  text-transform: capitalize;
}

.section-sub-heading {
  font-size: variables.$font-ssh;
  font-weight: 500;
  padding-bottom: 0.5em;
  text-transform: capitalize;
}

.block {
  display: block;
}

.add-bullets {
  list-style-type: circle;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.link {
  text-decoration: underline;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.w-400 {
  width: 400px;
}

.h-120 {
  object-fit: cover;
  height: 148.5px;
}

.w-fc {
  width: fit-content;
}

.invisible-but-accessible {
  width: 0;
  height: 0;
  opacity: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.va-middle {
  vertical-align: middle;
}

.ff-inherit {
  font-family: inherit;
}

.border {
  border: 1px solid #000;
}

.bt-2 {
  border-top: 2px solid #000;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3em;
}
