// Variables
$primary-color: #332e3c;
$secondary-color: #ffffff;
$accent-color: #f0c808;
$background-color: $primary-color;
$text-color: $secondary-color;
$button-color: $accent-color;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$container-width: 800px;
$font-h: 2.5em;
$font-sh: 2.3em;
$font-ssh: 1.9em;
$font-sssh: 1.2em;
