$primary-color: red;
$secondary-color: blue;
$accent-color: green;

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
}

body {
  background-color: $primary-color;
}
