// Imports
@use 'resets';
@use 'base';
@use 'utilities';
@use 'variables';

// Variables
$primary-color: white;
$secondary-color: black;
$accent-color: grey;
$background-color: $primary-color;
$text-color: $secondary-color;
$button-color: $secondary-color;
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$container-width: 1100px;
$font-sm: 1.2em;
$font-md: 1.5em;
$font-lg: 1.9em;
$font-xl: 2.3em;

// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $secondary-color;
  }

  button,
  input {
    border: none;
  }
}

// Base styles
body {
  background-color: $background-color;
  color: $text-color;
  letter-spacing: 0.04em;
  font: 0.95em/1.5 $font-stack;
}

// Typography
h1 {
  font-size: $font-xl;
}

p {
  font-size: $font-md;
}

// Utilities
.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: $button-color;
  color: $primary-color;
  font-weight: 500;
}

.container {
  width: 92%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding: 1em;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.basis-500 {
  flex: 1 400px;
}

.gap-4 {
  gap: 4em;
}

.text-center {
  text-align: center;
}

// padding
.p-1 {
  padding: 1em;
}

.vp-05 {
  padding-block: 0.5em;
}

.vp-1 {
  padding-block: 1em;
}

// margin
.mt-2 {
  margin-top: 2em;
}

.vm-05 {
  margin-block: 0.5em;
}

.vm-1 {
  margin-block: 1em;
}

.section-padding {
  padding-block: 2em;
}

.block {
  display: block;
}

// Navbar
#navbar {
  .logo-img {
    vertical-align: middle;
  }
  .nav-links {
    display: none;
  }
}

// Hero

// Media Queries
@media screen and (min-width: 680px) {
  #navbar {
    ul.nav-links {
      display: flex;
    }
  }
}
